{% extends 'base.html' %}

{% block title %}Stack{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/python.css') }}">
{% endblock css %}

{% block content %}
<div class="python">
    <div class="lib">
        <div class="bar"></div>
        <div class="progress">0%</div>
        <div class="milestone1">
            <div class="point"></div>
            <p>Milestone 1</p>
        </div>
        <div class="milestone2">
            <div class="point"></div>
            <p>Milestone 2</p>
        </div>
        <div class="milestone3">
            <div class="point"></div>
            <p>Milestone 3</p>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{{ url_for('static', path='/js/python.js') }}"></script>
{% endblock js %}
