{% extends 'base.html' %}

{% block title %}Python{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/python.css') }}">
{% endblock css %}

{% block content %}
<div class="python">
    {% for lib in libraries %}
        <div class="lib">
            <a class="name" href="{{ lib.url }}" target="_blank">{{ lib.name }}</a>
            <div class="bar"></div>
            <div class="progress">{{ lib.progress }}</div>
            <div class="milestones">
                <div class="milestone">
                    <div class="point"></div>
                    <p>Used in pet projects</p>
                </div>
                <div class="milestone">
                    <div class="point"></div>
                    <p>Used in production once</p>
                </div>
                <div class="milestone">
                    <div class="point"></div>
                    <p>Used in production many times</p>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
<script src="{{ url_for('static', path='/js/python.js') }}"></script>
{% endblock js %}
