{% extends 'base.html' %}

{% block title %}Stack{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/stack.css') }}">
{% endblock css %}

{% block content %}
<div class="stack">
    {% for technology in stack %}
        <div class="technology">
            {% if technology.url %}
                <a class="name" href="{{ technology.url }}" target="_blank">{{ technology.name }}</a>
            {% else %}
                <p class="name">{{ technology.name }}</p>
            {% endif %}
            <div class="bar"></div>
            <div class="progress">{{ technology.progress }}</div>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
<script src="{{ url_for('static', path='/js/stack.js') }}"></script>
{% endblock js %}
