{% extends 'base.html' %}

{% block title %}Stack{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/stack.css') }}">
{% endblock css %}

{% block content %}
<div class="stack">
    {% for technology in stack %}
        <div class="technology">
            <a class="name" href="{{ technology.url }}" target="_blank">{{ technology.name }}</a>
            <div class="bar"></div>
            <div class="progress">{{ technology.progress }}</div>
            <div class="milestones">
                <div class="milestone">
                    <div class="point"></div>
                    <p>Used in pet projects</p>
                </div>
                <div class="milestone">
                    <div class="point"></div>
                    <p>Used in production once</p>
                </div>
                <div class="milestone">
                    <div class="point"></div>
                    <p>Used in production many times</p>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
<script src="{{ url_for('static', path='/js/stack.js') }}"></script>
{% endblock js %}
