@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

html, body {
    height: 100%;
}

body {
    width:  50vw;
    margin: 0 auto;
    font-family: "Domine", "Cambria", "Georgia", "Times New Roman", serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.avatar {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img {
    border-radius: 50%;
    clip-path: circle();
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.socials a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.socials img {
    width: 25px;
    height: 25px;
}

.container {
    min-height: calc(100% - 445px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    margin-top: 0;
    height: 100px;
    display: flexbox;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.footer a,p {
    display: block;
    color: rgb(94, 94, 94);
    text-align: center;
    text-decoration: none;
}

.footer p a {
    display: inline;
    text-decoration: underline;
}

.footer img {
    width: 25px;
    height: 25px;
}