.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.projects ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  font-size: 22px;

  list-style-type: circle;
}

.projects li {
  width: 80%;
  word-wrap: break-word;
  margin: 10px 100px;
}

.projects li a {
  color: black;
}
