.stack {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.technology {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: transform 0.5s ease;
}

.technology:hover {
  transform: scale(1.02);
}

.technology .name {
  font-size: 24px;
  color: black;
  align-self: flex-start;
  margin: 25px;
  text-decoration: underline;
}

.bar {
  background-color: #d4e6b5;
  width: 100%;
  height: 35px;
  border-radius: 35px;
}

.progress {
  position: relative;
  top: -35px;
  width: 0%;
  height: 35px;
  background-color: #0cce6b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  font-weight: 500;
  border-radius: 35px;
  transition: 1s ease;
}

.technology hr {
  width: 100%;
  size: 2px;
  color: black;
}
